{#
Copyright 2019 Nokia

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}
---
fluentd:
  image_name: {{ container_image_names | select('search', '/fluentd') | list | last }}
  apiserver_service_name: {{ caas.apiserver_service_name }}
  apiserver_svc_port: {{ caas.apiserver_svc_port }}
  infra_name_spaces:
{% if caas.infra_namespaces is defined %}
{%- for item in caas.infra_namespaces %}
  - {{ item }}
{% endfor %}
{% else %}
  - kube-system
{%- endif %}
{%- if caas.log_forwarding is defined %}
  log_forwarding:
{% for item in caas.log_forwarding %}
  - namespace: {{ item.namespace }}
    target_url: "{{ item.target_url }}"
    plugin: {{ item.plugin}}
{% if item.stream is defined %}
    stream: {{ item.stream}}
{% else %}
    stream: both
{% endif %}
{%- endfor %}
{% endif %}
  config_timestamp: {{ lookup('pipe', 'date +%s') }}
